:root {
  --gradient: linear-gradient(45deg, #8fc7ddbd, #7f9eeea8);
  --inverted-gradient: linear-gradient(225deg, #8fc7ddbd, #7f9eeea8);
  --hue-rotation: hue-rotate(-15deg);
  --select-border: #777;
}
select {
  transition-duration: 0.4s;
  width: 50%;
  min-width: 20ch;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-image: var(--gradient);
}

.select::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%); /* not sure what this does */
}

select::-ms-expand {
  display: none;
}

select:focus {
  outline: #7f9eeea8 auto 1px;
}