.formContainer {
  background: transparent;
  // background-color: rgba(58, 69, 69, 0.48);
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9;
  pointer-events: none;

  .form {
    pointer-events: all;
    z-index: 10;
    display: flex;
    // position: fixed;
    background-color: rgba(185, 210, 210, 0.749);
    backdrop-filter: blur(1.2px);
    border-radius: 10px;
    border: 1px solid black;
    padding: 1rem;
    width: clamp(300px, 20%, 100%);
    // left: 40%;
    // top: 30%;
    gap: 1rem;
    flex-direction: column;

    input {
      margin-top: .5rem;
      display: block;
      width: 98%;
      padding: .1rem 1%;
      height: 1.2rem;
      // padding: 0;
      border: none;
      box-shadow: 1px 1px 1px grey;

    }

    textarea {
      margin-top: .5rem;
      width: 98%;
      resize: none;
      padding: .4rem 1%;
      height: 3rem;
      border: none;
      box-shadow: 1px 1px 1px grey;
    }

    .completed-label {
      pointer-events: none;
      display: flex;
      width: 100%;
      align-items: center;
      gap: 1rem;
      margin-bottom: 1rem;

      .completed-checkbox {
        box-shadow: 0px 0px 0px grey;
        width: 1rem;
        pointer-events: all;
      }
    }
  }
}


select {
  transition-duration: 0.4s;
  width: 100%;
  min-width: 20ch;
  height: 4rem;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  background-image: var(--primary-gradient);

  // line-height: 1.1;
  // &::after {
  //   content: "";
  //   width: 0.8em;
  //   height: 0.5em;

  //   /* not sure what this does */
  //   clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  // }

  // &::-ms-expand {
  //   display: none;
  // }

  // &:focus {
  //   outline: #7f9eeea8 auto 1px;
  // }
}


.tasks {
  position: relative;
  list-style: none;
  margin-left: 0;
  padding-left: 1.2em;
  padding-right: 1.2em;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  li {
    flex-grow: 3;
    box-shadow: 1px 1px 1px grey;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.565);
    padding: 1rem;
    max-width: 60ch;
    word-break: break-all;
    word-wrap: break-word;

    h4 {
      display: flex;
      height: 1.5rem;
      align-items: center;

    }

    .checkbox {
      padding: .2rem;
      float: right;
      pointer-events: all;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      transition-duration: 0.4s;
      padding: 0;
      line-height: normal;
      border: none;
      background: transparent;
      cursor: pointer;

      &:hover {
        font-size: 1.2rem;
      }
    }
  }
}


#addButton {
  padding: .2rem;
  float: right;
  margin-top: .2rem;
  margin-right: .2rem;
  pointer-events: all;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.4s;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1rem;
}


#completed {
  padding: 1rem;
  grid-area: completed;
}


.main {
  width: 100%;
  min-height: 100vh;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 4rem auto 4rem auto auto auto;
  gap: 1rem;
  grid-template-areas:
    "select1 select1 select1 select1"
    "team team team team"
    "select2 select2 select2 select2"
    "project project project project"
    "pending pending pending pending"
    "completed completed completed completed"
  ;
}

.pending {
  padding: 1rem;
  grid-area: pending;
  // background-color: rgba(160, 209, 209, 0.5);
  // background: blur(1px);
}

#teamPanel,
#projectPanel {
  .button-container {
    float: right;
    margin-top: 1rem;
    margin-right: -10%;
  }
}

#teamPanel {
  grid-area: team;
}

#projectPanel {
  grid-area: project;
}

#selectTeam {
  grid-area: select1;
}

#selectProject {
  grid-area: select2;
}

@media screen and (min-width: 1200px) {
  .main {
    grid-template-rows: 4rem 300px auto;
    grid-template-areas:
      "select1 select1 select2 select2"
      "team team project project"
      "completed pending pending pending"
    ;
  }
}