@import './styles/abstracts/variables';
* {
  font-family: Garamond, Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
}

body {
  margin: 0;
  min-width: 300px;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  min-width: 300px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
i {
  font-style: italic;
}